<footer>
    <div class="row">
        <div class="col-lg-12 footer">
            &copy;{{ site.time | date: "%Y" }} {{site.company_name}}. All rights
            reserved. <br />
            {% if page.last_updated %}<span>Page last updated:</span>
            {{page.last_updated}}<br />{% endif %} Site last generated: {{
            site.time | date: "%b %-d, %Y" }} <br />
            <img id='footer_img' src="{{ "images/company_logo.svg" }}"
            alt="Company logo"/>
        </div>
    </div>
</footer>

<!-- Google Tag Manager (noscript) -->
<noscript
    ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M8DTLSR"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
    ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
